* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, "sans-serif";
    padding-top: 70px;
}

nav {
    background-color: #FFFFFF;
}

a, a:hover {
    text-decoration: none;
}

.navbar {
    margin: 0;
}

.navbar-upper, .navbar-lower {
    padding: 15px 10px;
    border-bottom: 1px solid grey;
}

.navbar-upper span {
    background-color: #00D7D2;
    color: #033661;
    border-radius: 5px;
    padding: 5px 8px;
    margin-right: 10px;
    font-size: 9px;
    font-weight: bold;
}

.navbar-upper a {
    font-size: 12px;
    font-weight: bold;
    color: #5B6987;
}

.navbar-upper .navbar-right a {
    margin-right: 25px;
}
.navbar-brand img {
    max-height: 100%;
}

.navbar-lower li>a {
    font-size: 16px;
    font-weight: bold;
    color: #102758;
}

.navbar-upper a:hover {
    color: #3086FF;
}

.navbar-btn {
    border-radius: 5px;
    font-size: 14px;
    background-color: transparent;
    border-color: #006AFF;
    color: #006AFF;

}

.navbar-btn-second {
    background-color: #006AFF;
    border-color: transparent;
    color: #FFF;
}

.navbar-btn:hover {
    background-color: #006AFF;
    color: #FFF;
}


/************************************************/

#jumbotron {
    background-image: url('https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0px;
    color: white;
}

#jumbotron .btn-primary {
    width: 100%;
    font-size: 16px;
    background-color: #102758;
    border-style: hidden;
    padding: 12px;
    border-radius: 6px;
    color: #FFF;
    margin-bottom: 50px;
}

#jumbotron .btn-primary:hover {
    transition: background-color 0.5s linear;
    background-color: #07CD77;
}

#jumbotron h1 {
    margin-top: 100px;
    font-size: 56px;
    font-weight: bold;
}

#jumbotron p:nth-of-type(1) {
    font-size: 25px;
}


#jumbotron .panel {
    background-color: #FFF;
    border-radius: 3px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}

#jumbotron .panel-title {
    color: #031B4E;
    background-color: #F3F5F9;
    font-size: 20px;
    font-weight: bold;
    padding: 15px;
    border-color: #DDD;
}

#jumbotron .panel-body .btn-primary {
    background-color: #006AFF;
    font-weight: bold;
}

#jumbotron .panel-body .btn-primary:hover {
    background-color: #1633FF;
}

#jumbotron .panel .panel-footer, .panel-title {
    width: 100%;
}

#jumbotron .panel-footer {
    padding: 25px 5px;
    background-color: #FFF;
}

#jumbotron .form-control {
    font-size: 16px;
}

#jumbotron .panel-footer>.form-group {
    display: inline-block;
    border: 1px solid #006AFF;
    background-color: #FFF;
    padding: 10px 20px;
    border-radius: 8px;
}

#jumbotron .panel-footer>.form-group>.btn-form {
    color: #015EFF;
    background-color: #FFF;
    border-color: transparent;
    font-size: 18px;
    font-weight: bold;
}

/**********************************/

.business-solutions {
    background-color: #F3F5F9;
    padding: 64px 24px;
    color: #696987;
}

.business-solutions h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 35px;
}

.business-solutions a {
    color: #0069FF;
}

.business-solutions a:hover {
    color: #5DABFC;
}

/********************************************/

#deploy {
    padding: 50px 0;
}

#deploy h2, #carusel h2, #built_business h2 {
    color: #031B4E;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
}

#deploy h3, #carusel h3 {
    color: #5B6987;
    font-size: 20px;
    padding: 20px 50px;
    margin-bottom: 35px;
}

#deploy li {
    list-style: none;
}

#deploy .btn {
    padding-bottom: 15px;
    text-align: left;
    border-style: none;
    text-transform: capitalize;
    background-color: transparent;
    font-size: 16px;
}

#deploy .btn:active, .btn:hover {
    border-left: 2px solid blue;
    color: #031B4E;
}

#deploy h4 {
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: left;
}

/*************************************************/

#carusel {
    padding: 50px 0;
    background-color: #F3F5F9;
    position: relative;
}

#carousel .fa-long-arrow-alt-left {
    position: absolute;
    left: 200px;
    z-index: 2;
    font-size: 40px;
    color: #696987;
}


#carousel .fa-long-arrow-alt-right {
    position: absolute;
    right: 200px;
    z-index: 2;
    font-size: 40px;
    color: #696987;
}

#carusel img {
    width: 90%;
}

#carusel .slider {
    color: #3B8BFE;
    margin: 25px 0 25px 0;
}

/***************************************************/

#built_business {
    padding: 50px 0;
}

#built_business img, h4, p, a {
    margin-bottom: 12px;
}

#built_business a {
    text-transform: capitalize;
}

#built_business a:hover {
    color: #3B8BFE;
}

#built_business h4 {
    color: #031B54;
    font-size: 16px;
    font-weight: bold;
}


/************************************************/

#services4customers {
    padding: 50px 0;
    background-color: #031B4E;
    background-image: url('https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;

}

#services4customers h2 {
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: bold;
}

#services4customers h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
