body {
    font-family: Helvetica, Arial, "sans-serif";
    padding-top: 70px;
}

nav {
    background-color: #FFFFFF;
}

a, a:hover {
    text-decoration: none;
}

.navbar {
    margin: 0;
}
.navbar-upper, .navbar-lower {
    padding: 15px 10px;
    border-bottom: 1px solid grey;
}

.navbar-upper span {
    background-color: #00D7D2;
    color: #033661;
    border-radius: 5px;
    padding: 5px 8px;
    margin-right: 10px;
    font-size: 9px;
    font-weight: bold;
}

.navbar-upper a {
    font-size: 12px;
    font-weight: bold;
    color: #5B6987;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand img {
    max-height: 100%;
}

.navbar-lower li>a {
    font-size: 16px;
    font-weight: bold;
    color: #0F2657;
}

.navbar-upper a:hover, .navbar-lower a:hover {
    color: #3086FF;
}

.navbar-btn {
    border-radius: 5px;
    font-size: 14px;
    background-color: transparent;
    border-color: #006AFF;
    color: #006AFF;
}

.navbar-btn-second {
    background-color: #006AFF;
    border-color: transparent;
    color: #FFF;
}

.navbar-btn:hover {
    background-color: #006AFF;
    color: #FFF;
}
